In [1]:
import pandas as pd
import numpy as np

In [3]:
train=pd.read_csv("../../data/reference_01_train.csv")
test=pd.read_csv("../../data/reference_01_test.csv")

In [13]:
train.head(5)

,user_id,auditing_date,listing_id,due_amt,y,days,brrow_frequency,brrow_avg_money,brrow_max_money,brrow_min_money,...,day5_repay_frequency,day10_repay_frequency,day15_repay_frequency,day20_repay_frequency,day25_repay_frequency,gender,age_cut,reg_year,rate,principal
0,748147,2018-04-25,3163926,72.1167,1,28.0,1.0,102.102200,102.1022,102.1022,...,0.0,0.0,0.0,0.0,0.0,0,1,0.397260,7.2,630
1,672952,2018-06-09,3698760,258.7045,1,3.2,5.0,321.100800,945.0062,133.9311,...,0.0,0.0,0.0,1.0,2.0,0,3,0.769863,7.2,2260
2,404196,2018-02-18,2355665,307.9270,0,11.5,2.0,205.204000,307.9270,102.4810,...,0.0,1.0,0.0,0.0,0.0,0,1,1.046575,7.2,2690
3,342769,2018-01-13,1994522,252.9809,1,2.0,3.0,612.913733,758.1972,457.9412,...,0.0,0.0,0.0,0.0,3.0,0,1,1.117808,7.2,2210
4,828139,2018-06-01,3602352,107.6503,2,0.0,1.0,148.988800,148.9888,148.9888,...,0.0,0.0,0.0,0.0,1.0,0,1,0.167123,8.6,630

In [15]:
test.head(10)

,user_id,auditing_date,listing_id,due_amt,days,brrow_frequency,brrow_avg_money,brrow_max_money,brrow_min_money,month1_brrow_frequency,...,weekend_avg_money,day0_repay_frequency,day5_repay_frequency,day10_repay_frequency,day15_repay_frequency,day20_repay_frequency,day25_repay_frequency,gender,age_cut,reg_year
0,498765,2019-03-12,5431438,138.5903,0.000000,4.0,323.952825,409.7428,268.0399,0.0,...,287.673500,0.0,0.0,0.0,0.0,0.0,4.0,0,3,1.863014
1,34524,2019-03-15,5443211,208.0805,0.000000,1.0,478.033100,478.0331,478.0331,0.0,...,478.033100,0.0,0.0,0.0,0.0,0.0,1.0,0,2,3.706849
2,821741,2019-03-22,5461707,421.2097,7.000000,1.0,256.089200,256.0892,256.0892,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,1,1,1.057534
3,263534,2019-03-26,5472320,212.6537,1.000000,2.0,944.533850,1381.1746,507.8931,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,2.0,1,4,2.564384
4,238853,2019-03-21,5459750,817.4593,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,4,2.635616
5,21071,2019-03-01,5393299,112.0961,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,4.002740
6,415214,2019-02-16,5342607,947.1053,2.666667,3.0,451.169667,531.4552,290.5986,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,3.0,0,2,2.041096
7,224972,2019-03-26,5472584,133.7660,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2,2.649315
8,927224,2019-03-16,5445001,332.7002,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0.117808
9,57539,2019-03-14,5439841,234.3764,0.600000,5.0,234.977840,353.7084,123.0462,0.0,...,191.405233,0.0,0.0,0.0,0.0,0.0,5.0,0,4,3.452055

In [4]:
train_header=list(train.columns.values)
test_header=list(test.columns.values)

In [11]:
# 数据处理后为50+列
print(len(train_header))
print(len(test_header))
print(train_header)
print(test_header)

58
55
['Friday_frequency', 'Friday_money', 'age_cut', 'auditing_date', 'brrow_avg_money', 'brrow_frequency', 'brrow_max_money', 'brrow_min_money', 'day0_avg_money', 'day0_frequency', 'day0_max_money', 'day0_min_money', 'day0_repay_frequency', 'day10_repay_frequency', 'day15_repay_frequency', 'day20_repay_frequency', 'day25_repay_frequency', 'day3_avg_money', 'day3_frequency', 'day3_max_money', 'day3_min_money', 'day5_frequency', 'day5_max_money', 'day5_min_money', 'day5_money', 'day5_repay_frequency', 'days', 'due_amt', 'gender', 'listing_id', 'month1_brrow_avg_money', 'month1_brrow_frequency', 'month1_brrow_max_money', 'month1_brrow_min_money', 'month1_return_avg_money', 'month1_return_frequency', 'month1_return_max_money', 'month1_return_min_money', 'month3_brrow_avg_money', 'month3_brrow_frequency', 'month3_brrow_max_money', 'month3_brrow_min_money', 'month3_return_avg_money', 'month3_return_frequency', 'month3_return_max_money', 'month3_return_min_money', 'overdue__max_money', 'overdue__min_money', 'overdue_avg_money', 'overdue_frequency', 'overdue_frequency_ratio', 'principal', 'rate', 'reg_year', 'user_id', 'weekend_avg_money', 'weekend_frequency', 'y']
['Friday_frequency', 'Friday_money', 'age_cut', 'auditing_date', 'brrow_avg_money', 'brrow_frequency', 'brrow_max_money', 'brrow_min_money', 'day0_avg_money', 'day0_frequency', 'day0_max_money', 'day0_min_money', 'day0_repay_frequency', 'day10_repay_frequency', 'day15_repay_frequency', 'day20_repay_frequency', 'day25_repay_frequency', 'day3_avg_money', 'day3_frequency', 'day3_max_money', 'day3_min_money', 'day5_frequency', 'day5_max_money', 'day5_min_money', 'day5_money', 'day5_repay_frequency', 'days', 'due_amt', 'gender', 'listing_id', 'month1_brrow_avg_money', 'month1_brrow_frequency', 'month1_brrow_max_money', 'month1_brrow_min_money', 'month1_return_avg_money', 'month1_return_frequency', 'month1_return_max_money', 'month1_return_min_money', 'month3_brrow_avg_money', 'month3_brrow_frequency', 'month3_brrow_max_money', 'month3_brrow_min_money', 'month3_return_avg_money', 'month3_return_frequency', 'month3_return_max_money', 'month3_return_min_money', 'overdue__max_money', 'overdue__min_money', 'overdue_avg_money', 'overdue_frequency', 'overdue_frequency_ratio', 'reg_year', 'user_id', 'weekend_avg_money', 'weekend_frequency']

In [10]:
print(set(train_header)-set(test_header))
print(set(test_header)-set(train_header))

{'principal', 'rate', 'y'}
set()

In [12]:
# 训练数据集的标签
train['y'].unique()

array([1, 0, 2])